.info-personnelle-card {
    padding: 2rem;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.p-field {
    margin-bottom: 1.5rem;
}

label {
    font-weight: bold;
    color: #495057;
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
}

.user-info {
    font-size: 1rem;
    font-weight: normal;
    color: #212529;
    display: block;
    padding: 0.5rem 0;
    border-bottom: 1px solid #dee2e6;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.p-grid {
    gap: 1.5rem;
}

@media screen and (max-width: 768px) {
    .p-grid {
        grid-template-columns: 1fr;
    }
}

.error-message {
    color: red;
    font-size: 1.2em;
    margin-top: 10px;
    text-align: center;
    background-color: #fdecea;
    padding: 10px;
    border: 1px solid #f5c2c7;
    border-radius: 5px;
}
