/* Couche de superposition qui occupe tout l'écran */
.chatbox-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);  /* Pour un effet de flou sur l'arrière-plan */
    z-index: 1000;  /* Assurez-vous que la chatbox est au-dessus des autres éléments */
}

.chatbox-container {
    display: flex;
    width: 80%; /* Ajustez cette largeur en fonction de votre conception */
    max-width: 1200px;
    height: 70vh;
    background-color: #2c2f33;
    color: #fff;
    border-radius: 10px;
    overflow: hidden;
}

.contacts-section {
    width: 25%;
    background-color: #23272a;
    padding: 20px;
}

.profile-header img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.profile-header h2 {
    font-size: 1.2em;
    margin-top: 10px;
}

.search-bar {
    width: 100%;
    padding: 10px;
    margin: 20px 0;
    background-color: #2c2f33;
    border: none;
    border-radius: 5px;
    color: #fff;
}

.contacts-list {
    /* Ajouter le style de la liste des contacts ici */
}

.chat-section {
    width: 75%;
    display: flex;
    flex-direction: column;
    background-color: #36393f;
}

.chat-header {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #2c2f33;
}

.chat-header img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.contact-info h3 {
    margin: 0;
    margin-left: 15px;
}

.contact-info p {
    margin: 0;
    margin-left: 15px;
    font-size: 0.85em;
    color: #b9bbbe;
}

.chat-actions {
    margin-left: auto;
    display: flex;
    gap: 10px;
}

.chat-actions button {
    background-color: #2c2f33;
    border: none;
    color: #fff;
    font-size: 1.5em;
    cursor: pointer;
}

.chat-messages {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
}

.chat-message {
    max-width: 60%;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    color: #fff;
    clear: both; /* Assurez-vous que les messages ne flottent pas les uns sur les autres */
}

.chat-message.other {
    background-color: #185cd3d5;
    align-self: flex-start;
    margin-left: auto;
}

.chat-message.user {
    background-color: #06f80693;
    align-self: flex-end;
    margin-right: auto;
}

.chat-message span {
    display: block;
    font-size: 0.75em;
    color: #b9bbbe;
    margin-top: 5px;
}

.chat-input {
    display: flex;
    padding: 20px;
    background-color: #2c2f33;
}

.chat-input input {
    flex-grow: 1;
    padding: 10px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    color: #fff;
}

.chat-input button {
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #7289da;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}
