.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    position: relative;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 75%;
    height: 75%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: bold;
}

.modal-close-button {
    width: 100%;
    padding: 10px;
    background-color: green;
    color: white;
    border: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 0;
}

.modal-close-button:hover {
    background-color: #ef1414;
}

/* Styles for screens 480px and smaller */
@media (max-width: 480px) {
    .modal-content {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #fff;
        z-index: 1000;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px;
        box-sizing: border-box;
    }
    
    .modal-close-button {
        font-size: 14px; /* Reduced font size slightly */
    }
}

/* Styles for screens 760px and larger */
@media (min-width: 760px) {
    .modal-content {
        width: 80%;
        height: auto;
        max-height: 98vh; /* To ensure the modal doesn't overflow the viewport */
        box-sizing: border-box;
    }
}
