.account-section {
    position: relative;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    margin: 0 auto;
}

.account-header {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.account-avatar {
    margin-right: 10px;
    border-radius: 50%;
    padding: 0;
    color: #fff;
}

.account-username {
    font-size: 1.2rem;
    font-weight: bold;
}

.account-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-row {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.form-group {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input[type="text"],
.form-group .p-fileupload,
.form-group .p-inputmask {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    width: 100%;
}

.form-group .p-fileupload {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    background-color: #4CAF50 !important;
}

.form-button {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}

.green-button {
    background-color: #4CAF50 !important; /* Vert */
    border-color: red !important;
    color: white !important;
}

/* Réinitialiser le style du conteneur FileUpload */
.p-fileupload-choose {
    background-color: transparent !important;
    border: none !important;
    padding: 0 !important;
}

/* Media query pour les écrans de taille réduite */
@media (max-width: 768px) {
    .p-dialog {
        width: 100vw !important;
        height: 100vh !important;
        max-width: 100vw !important;
        max-height: 100vh !important;
        top: 0 !important;
        left: 0 !important;
        border-radius: 0 !important;
        overflow: auto !important;
    }
    
    .account-section {
        padding: 10px;
    }

    .form-row {
        flex-direction: column;
    }
}

.p-fluid .p-field {
    margin-bottom: 1rem;
}

.account-section {
    padding: 2rem;
}

.account-header {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.account-avatar {
    margin-right: 1rem;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.form-group {
    flex: 1;
    margin-right: 1rem;
}

.form-group:last-child {
    margin-right: 0;
}

.form-button {
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
}

.p-fluid .p-field {
    margin-bottom: 1rem;
}

